.card {
  display: flex;
  margin: auto;
  height: 7rem;
  width: 5rem;
  font-size: 2rem;
  border-radius: 0.7rem;
  color: white;
  background-color: dimgrey;
  transition: 0.4s;
}

.card p {
  margin: auto;
  cursor: default;
}

.selected {
  transform: rotate(20deg);
}
.selected p {
  animation-name: textAnimate;
  animation-duration: 0.5s;
}

.card ::selection {
  text-decoration: none;
}

@keyframes textAnimate {
  0% {
    font-size: 0;
    opacity: 0;
  }
  30% {
    font-size: 0.5rem;
    opacity: 0.5;
  }
  100% {
    font-size: 2rem;
    opacity: 1;
  }
}
