.selector {
  position: relative;
  overflow: visible;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0.3rem;
  border-radius: 0.3rem;

  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.1);
}

.selectorInput {
  margin: auto;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 5%;
}

.selected {
  background-color: rgba(97, 238, 15, 0.363);
}
