.selectionScreen {
  display: flex;
  column-count: 2;
  justify-content: space-around;
}

.loadingMessage {
  white-space: nowrap;
  overflow: hidden;
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
